<%include partials/header%>
   <div class="ctr">
			<div class="ctr title">
				<h1 class="ttl">Arabic Root Finder</h1>
			</div>
			<div class="ctr titlArb">
				<h2 class="ttl2">مكتشف الجذر العربي</h2>
			</div>
			<h3 id="engLbl"> Search Here</h3>
			<h3 id="arbLbl"> ابحث هنا</h3>
			<div class="ctr form">
				<form >
					<input id="srchBox" name ="wd" type="text" value="وبالوالدين">
					<div class="submitBtn">
					<button id ="submitBtn">Search</button>
					</div>
					<div class="ctr rslts">
			<div class="ctr rslt">
				<h4> Results</h4>
			</div>
			<div class="ctr rslt arb">
				<h4> النتائج</h4>
			</div>
			<div class="ctr rsltbx">
    				<p id= "rsltBox" name = "rtWd">
    					
    				</p>
    
    			</div>
		</div>
				</form>
			</div>
	</div>

<script type="text/javascript" src="scripts/SP_JS.js"></script>
    	<% include partials/footer %>