body{
	background-color: #Fdf5d0;
	margin-left:100px;
	margin-right:100px;
}
h1, h2, h3, h4, p{
	color: #2d7361;
}
button{
	background-color: #8de2c9;
	color: #2d7361;
}
.ctr{
	height:100%;
	width:75%;
	margin: auto;
	text-align:center;
}
.ctr .title{
	border:solid;
	border-color: #315b47;
	width:100%;
}
.ctr .titlArb{
	width:85%;
	border-style:none;
}
.ttl{
	border:none;
}
.ctr .form{
	width:100%;
	height:100px;
	position:relative;
	text-align: center;
}
#engLbl{
	float:left;
}
.ctr .form #srchBox{
	height:40px;
	width:300px;
}
 #arbLbl{
	float:right;
}
.ctr .form .submitBtn{
	position:absolute;
	margin:auto;
	width: 100%;
}
.ctr .form #submitBtn{
	height:40px;
	width:150px;
}
.ctr .rslts{
	width:100%;
	height:100%;
}
.ctr .rslt{
	width:50%;
	float:left;
}
.ctr .rslt .arb{
	width:50%;
	float:right;
}
.ctr .rsltbx{
	padding: 50px;
	margin-top: 100px;
	height:50%;
	width:50%;
	border: 1px solid;
	color: #2d7361;
}
ul{
	list-style: none;
}
#ftr{
	position: absolute;
	bottom: 0;
}